<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ISO8601-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>ISO8601-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>ISO8601-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>212539B51B1595FD00F29EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>212539BF1B1595FD00F29EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2175D2B21D171ED9009C6845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B3A3D619894F4600322041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B3A3E119894F4600322041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21EC4F361D077FCE00FA439F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21EC4F3F1D077FCE00FA439F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
